body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(21, 52, 99);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.start {
  background-color: #28a745;
  color: white;
}



.stop {
  background-color: #dc3545;
  color: white;
}

